.detailPage {
    background-color: rgba(128, 128, 128, 0.9);
    display: flex;
    justify-content: center;
}

.detailContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
}

.imageDetail {
    width: 450px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    margin-right: 70px;
}

.imageDetail img {
    height: 100%;
    width: 100%;
}

.datosDetail {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detailName {
    width: 90%;
    margin: 15px;
}

.detailName h1 {
    font-size: 22px;
    font-family: sans-serif;
}

.detailDescription {
    width: 90%;
    margin: 15px;
}

.detailDescription h1 {
    font-size: 16px;
    font-family: sans-serif;
}

.detailPrecio {
    width: 90%;
    margin-top: 200px;
}

.detailPrecio h1 {
    font-size: 25px;
    font-family: sans-serif;
}

.detailConter {
    margin-top: 60px;
}