.backgroundIndex {
    background-color: #000000;
    background-image: url(../../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.textoIndex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoIndex h1 {
    color: white;
    font-size: 45px;
    font-family: 'Russo One', sans-serif;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
}

.homeContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}