.navBar {
    width: 100vw;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.navLogo {
    width: 110px;
    height: 70px;
    margin-left: 100px;
}

.listaEnlacesMiddle {
    display: flex;
}

.listaEnlacesMiddle li {
    list-style: none;
    margin: 10px;
}

.listaEnlacesMiddle li a {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
}

.listaEnlacesMiddle li a:hover {
    border-bottom: 1px solid white;
}

.listaEnlacesRight {
    display: flex;
    margin-right: 100px;
}

.listaEnlacesRight li {
    list-style: none;
    display: flex;
    align-items: center;
}

.listaEnlacesRight li a {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
}

.listaEnlacesRight li a:hover {
    border-bottom: 1px solid white;
}

.listaEnlacesRight li img {
    width: 35px;
    height: 35px;
}

li:hover .submenuHijos{
    display: block;
    margin-left: -15px;
}

li .submenuHijos{
    display: none;
    position: absolute;
}
