.icon {
    margin-right: 5px;
}

.listaEnlacesRight li {
    list-style: none;
    display: flex;
    align-items: center;
}

.listaEnlacesRight li a {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
}

.listaEnlacesRight li a:hover {
    border-bottom: 1px solid white;
}

.listaEnlacesRight li img {
    width: 35px;
    height: 35px;
}